.maindiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:150px ;
}
.url{
  width:500px ;
}
.btn{
  margin-top: 20px !important;
  background-color: rgb(36, 104, 230) !important;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px ;
}
@media(max-Width:741px){
    .url{
      width:250px;
    }
}
